<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice"> <!-- 회원 정보가 들어가는 공간 -->
	<insert id ="join" parameterType = "UserDTO">
		insert into tbl_user(user_email,user_password,user_nickname,user_date,user_level)
		value(#{userEmail},#{userPassword},#{userNickname},#{userDate},#{userLevel})
	</insert>
	
	<!-- member+board 모두 필요하기에 join 사용 -->
	<!-- join을 사용할때는 선행이 행수가 적어야 한다. -->
	<!-- member가 갯수가 적기 때문에 선행되어 작성 -->
	<select id="selectAll" resultType ="NoticeVO"> <!-- 테이블과 일치하지 않는 결과값을 얻기 위해 VO를 사용한다. -->
		select u.user_number, u.user_nickname, n.notice_number, n.notice_title, n.notice_content, 
		n.notice_date, n.notice_count 
		from tbl_user u join tbl_notice n 
		on u.user_number = n.user_number 
	</select>
	
	<select id="selectPage" resultType="BoardVO" parameterType="map">
		select m.member_number, m.member_id, b.board_number , b.board_title , b.board_content , b.board_date , b.board_read_count
		from tbl_member m join tbl_board b
		on m.member_number = b.member_number
		order by board_number desc
		limit #{startRow}, #{rowCount}
	</select>
</mapper>