<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice"> <!-- 회원 정보가 들어가는 공간 -->
	<insert id ="join" parameterType = "UserDTO">
		insert into tbl_user(user_email,user_password,user_nickname,user_date,user_level)
		value(#{userEmail},#{userPassword},#{userNickname},#{userDate},#{userLevel})
	</insert>
	
	<!-- member+board 모두 필요하기에 join 사용 -->
	<!-- join을 사용할때는 선행이 행수가 적어야 한다. -->
	<!-- member가 갯수가 적기 때문에 선행되어 작성 -->
	<select id="selectAll" resultType ="NoticeVO"> <!-- 테이블과 일치하지 않는 결과값을 얻기 위해 VO를 사용한다. -->
		select u.user_number, u.user_nickname, n.notice_number, n.notice_title, n.notice_content, 
		n.notice_date, n.notice_count 
		from tbl_user u join tbl_notice n 
		on u.user_number = n.user_number 
	</select>
	<select id="selectPage" resultType="NoticeVO" parameterType="map">
		select u.user_number, u.user_Email, n.notice_number , n.notice_title , n.notice_content , n.notice_date , n.notice_count
		from tbl_user u join tbl_notice n
		on u.user_number = n.notice_number
		order by notice_number desc
		limit #{startRow}, 10
	</select>
	
	<select id="getTotalCount" resultType="int">
    	SELECT COUNT(*) FROM tbl_notice
	</select>
	
	<!-- 공지사항 게시글 데이터 삽입 -->
	<insert id="insert" parameterType="NoticeDTO">
		INSERT INTO tbl_notice
		(user_number, notice_title, notice_date, notice_content, notice_count) 
		VALUES (#{userNumber},#{noticeTitle},#{noticeDate},#{noticeContent},#{noticeCount});
	</insert>
	
	<!-- 공지사항 게시글 삭제 -->
	<delete id="delete" parameterType="_int">
		delete from tbl_notice where notice_number = #{noticeNumber}
	</delete>
	
	<!-- 공지사항 게시글 수정 -->
	<update id="update" parameterType="FboardDTO">
		update tbl_notice
		set notice_title = #{noticeTitle}, notice_content = #{noticeContent}
		where notice_number = #{noticeNumber}
	</update>
	
	<!-- 공지사항 글 보기 쿼리 -->
	<select id="selectAll2" parameterType = "NoticeVO" resultType ="NoticeVO"> <!-- 테이블과 일치하지 않는 결과값을 얻기 위해 VO를 사용한다. -->
		SELECT u.user_number, u.user_nickname, n.notice_number, n.notice_title, n.notice_content, n.notice_date, n.notice_count 
		FROM tbl_user u INNER JOIN tbl_notice n 
		ON u.user_number = n.user_number 
		WHERE n.notice_number = #{noticeNumber};
	</select>
</mapper>